<div class="container-fluid">
<div class="row">
    <div class="col-lg-2">
        <button
          type="button"
          class="btn btn-light"
          routerLink="/nuevopro"
          *ngIf="isLogged">
        Agregar proyecto
        </button>
      </div>
    <h1>Proyectos realizados</h1>
    <div class="conteiner">
        <tr *ngFor="let proyecto of proyecto">
        <div class="col-sm-12 col-md-7 col-lg-7 explicacion">
            <h2>{{proyecto.nombreP}}</h2>
            <p>{{`rpyecto.descriptionP}}</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 imagen" *ngIf="proyecto">
                <img src={{proyecto.img}} alt="author image" class="img-fluid img" id="proyecto-img">
              </div>
        
<!--Hacer el editproyecto-->
        <td *ngIf="isLogged">
            <button
            type="button"
              routerLink="/editeedu/{{proyecto.id}}"
              class="btn btn-secondary">
              Editar <i class="bi bi-pen"></i>
            </button>
          </td>
          <td *ngIf="isLogged">
            <button
              type="button"
              (click)="delete(proyecto.id)"
              class="btn btn-danger"
            >
              Borrar <i class="bi bi-trash3"></i>
            </button>
          </td>  
        </tr>
          </div>
    </div>
</div>

