<div class="container-fluid">
<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="conteiner">
        <div class="col-sm-12 col-md-7 col-lg-7 explicacion">
            <h2>Maxisito: Robot</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat eum natus cumque minus recusandae esse aspernatur exercitationem, odit molestias a, fugiat voluptatem dolor asperiores ratione voluptates, cum rem consequatur corrupti?</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 imagen">
            <img class="img-fluid img" src="../../../assets/maxisito.jpeg">
        </div>
    </div>
</div>
</div>