.row{
    background-color: rgb(0, 0, 0);
    padding: 20px;
}
.HYS{
    text-align: center;
    color:#5c2fc5;
    font-style: oblique;
    margin-bottom: 50px;
}
div div{
    text-align: center;
}
.circulo{
    display: flex;
    flex-direction: column;
    align-items: center;
}